{
    "pubdy3d": {
        "UIEditor": {
            "VersionRecord": [
                [
                    "2018-03-22 14:22:20",
                    "20180315"
                ]
            ]
        },
        "T2MapEditor": {
            "VersionRecord": [
                [
                    "2018-03-22 14:23:54",
                    "20180315"
                ],
                [
                    "2018-03-22 14:43:13",
                    "20180315"
                ]
            ]
        }
    }
}