{
    "LastPubType": "pubdy3d",
    "pubdy3d": {
        "LastProject": "T2MapEditor",
        "DramaEditor": {
            "ScriptDir": "D:/mycode/VersionManagement/test"
        },
        "UIEditor": {
            "ScriptDir": "D:/mycode/VersionManagement"
        },
        "T2MapEditor": {
            "ScriptDir": "D:/mycode/VersionManagement/config"
        }
    }
}